{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}

{{ $orientation := 1 }}
{{- with $img -}}
{{ with .Exif }}
{{ $orientation = .Tags.Orientation }}
{{ end }}
{{ end }}

{{ $small := "" }}
{{ $medium := "" }}
{{ $large := "" }}

{{- with $img -}}
{{ $rotate := "" }}
{{ if eq $orientation 6 }}
  {{ $rotate = " r270" }}
{{ else if eq $orientation 8 }}
  {{ $rotate = " r90" }}
{{ end }}
{{ if ge $img.Width 1200 }}
  {{- $large = $img.Resize (printf "1200x%s" $rotate) -}}
{{ else }}
  {{- $large = $img -}}
{{ end }}
{{ if ge $img.Width 980 }}
  {{- $medium = $img.Resize (printf "980x%s" $rotate) -}}
{{ else }}
  {{- $medium = $img -}}
{{ end }}
{{ if ge $img.Width 420 }}
  {{- $small = $img.Resize (printf "420x%s" $rotate) -}}
{{ else }}
  {{- $small = $img -}}
{{ end }}

<figure class="image-caption">
  {{ if and $small $medium $large }}
  <img alt="{{ $.Text }}" src="{{ $small.RelPermalink }}"
    srcset="{{ $small.RelPermalink }} 420w,
            {{ $medium.RelPermalink }} 980w,
            {{ $large.RelPermalink }} 1200w" 
    sizes="(max-width: 900px) 90vw, 
           (max-width:1100px) 70vw, 
           50vw" />
  {{ else }}
    <img alt="{{ $.Text }}" src="{{ $img.RelPermalink | safeURL }}" />
  {{ end }}
  <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />
{{- end -}}
