{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}

{{ $orientation := 1 }}
{{- with $img -}}
{{ with .Exif }}
{{ $orientation = .Tags.Orientation }}
{{ end }}
{{ end }}

{{ $small := "" }}
{{ $medium := "" }}
{{ $large := "" }}

{{- with $img -}}
{{ if eq $orientation 1 }}
  {{- $large = $img.Resize "1200x" -}}
  {{ $medium = $img.Resize "980x" -}}
  {{ $small = $img.Resize "420x" -}}
{{ else if eq $orientation 6 }}
  {{- $large = $img.Resize "1200x r270" -}}
  {{ $medium = $img.Resize "980x r270" -}}
  {{ $small = $img.Resize "420x r270" -}}
{{ else if eq $orientation 8 }}
  {{- $large = $img.Resize "1200x r90" -}}
  {{ $medium = $img.Resize "980x r90" -}}
  {{ $small = $img.Resize "420x r90" -}}
{{ end }}

<figure class="image-caption">
  <img alt="{{ $.Text }}" src="{{ $small.RelPermalink }}"
    srcset="{{ $small.RelPermalink }} 420w,
            {{ $medium.RelPermalink }} 980w,
            {{ $large.RelPermalink }} 1200w" 
    sizes="(max-width: 900px) 90vw, 
           (max-width:1100px) 70vw, 
           50vw" />
  <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />
{{- end -}}
